venv_projet_nhl/
log_file/
__pycache__/
blog_website/_site/
blog_website/Gemfile.lock
outputs/
blog_website/Gemfile.lock
training_artifacts/
multirun/
tesytest.py
.cometml-runs/
pickle_file_blog/

data/v1_api/nhl_api_raw_json_files/